footer {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 8.33vw;
  box-sizing: margin-box;

  @media (max-width: 400px) {
    flex-wrap: wrap;
    padding: 0 5vw;

    margin-left: 20px;
  }
}
