@font-face {
  font-weight: 400;
  font-family: PTSans;
  src: url("../fonts/PT_Sans-Web-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: PTSans;
  src: url("../fonts/PT_Sans-Web-Bold.ttf");
}

html {
  font-weight: 400;
  font-size: 16px;
  font-family: PTSans, sans-serif;
}

body {
  margin: 0;
  color: var(--color-main);
  font-size: 16px;
  font-family: PTSans, sans-serif;
  line-height: 1.295;
}

h1 {
  margin: 0;
  color: var(--color-heading);
  font-weight: bold;
  font-size: 42px;
  line-height: 1.295;
}

h2 {
  margin: 0;
  color: var(--color-heading);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.295;
}

h3 {
  margin: 0;
  color: var(--color-main);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.295;
}

main {
  box-sizing: border-box;

  width: 100vw;
  min-height: calc(100vh - 131px);  /* header height 81 footer height 50 */
}
