header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 15px 0 30px;

  nav {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    column-gap: 20px;

    a {
      color: var(--color-main);

      &:hover {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  .menu {
    display: flex;
    justify-content: flex-start;
    column-gap: 5px;

    .add-bill {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 50px;
      height: 36px;
      border: 2px solid var(--color-main);
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: var(--color-call-to-action);
        border-color: var(--color-call-to-action);

        h3 {
          color: var(--color-white);
        }
      }
    }

    .user {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 36px;
      height: 36px;
      border: 2px solid var(--color-main);
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: var(--color-main);

        h3 {
          color: var(--color-white);
        }
      }
    }
  }
}

#show-header {
  display: none;
}

#show-header-label {
  display: none;
}

  
@media (max-width: 400px) {
  #show-header-label {
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 5px;
    left: -2px;

    width: 20px;
    height: 24px;
    background: url("https://img.icons8.com/material-rounded/24/null/menu-2.png") no-repeat;


  }

  header {
    position: absolute;
    height: 100vh;
    width: 20px;
    background-color: var(--color-active-panel);

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 50px;

    padding: 50px 10px 0;

    box-sizing: border-box;


    nav {
      display: none;
    }

    .menu {
      display: none;
    }
  }

  #show-header:checked~header {
    width: 150px;

    nav {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
    }
    .menu {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: stretch;
      gap: 10px;

      .add-bill {
        width: 100%;
      }

      .user {
        width: 100%;
      }
    }
  }
}