header {
  padding: 15px 0 30px;
}

header nav {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}

header nav a {
  color: var(--color-main);
}

header nav a:hover {
  font-weight: bold;
  text-decoration: underline;
}

header .menu {
  display: flex;
  justify-content: flex-start;
  column-gap: 5px;
}

header .add-bill {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 50px;
  height: 36px;
  border: 2px solid var(--color-main);
  border-radius: 8px;
  cursor: pointer;
}

header .add-bill:hover {
  background-color: var(--color-call-to-action);
  border-color: var(--color-call-to-action);
}

header .add-bill:hover h3 {
  color: var(--color-white);
}

header .user {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  border: 2px solid var(--color-main);
  border-radius: 8px;
  cursor: pointer;
}

header .user:hover {
  background-color: var(--color-main);
}

header .user:hover h3 {
  color: var(--color-white);
}
