main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  box-sizing: border-box;

  width: 100vw;
  padding-top: 5vh;

  &.main-login {
    min-height: calc(100vh - 50px); /* footer height 50 */

    form {
      grid-column: 7 / span 5;
      min-width: 400px;
    }

    @media (max-width: 400px) {
      display: block;
      padding: 5vh 5vw;

      form {
        min-width: 0;
      }
    }
  }

  &.main-w-header {
    min-height: calc(100vh - 131px); /* header height 81 + footer height 50 */

    @media (max-width: 400px) {
      padding-left: 20px;
      min-height: calc(100vh - 50px);  /* no header (header is aside) + footer height 50 */
    }
  }
}

