main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  box-sizing: border-box;

  width: 100vw;

  &.main-login {
    min-height: calc(100vh - 50px); /* footer height 50 */

    form {
      grid-column: 7 / span 5;
      margin-top: 5vh;
    }

    @media (max-width: 450px) {
      display: block;
      padding: 5vh 5vw;
    }
  }

  &.main-w-header {
    min-height: calc(100vh - 131px); /* header height 81 + footer height 50 */
  }
}
