form.login-password > h1 {
  margin-bottom: 30px;
}

form.login-password > article.user-data {
  display: flex;
  align-items: center;

  margin-bottom: 40px;
}

form.login-password .user-circle {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 55px;
  height: 55px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 50%;
}
